<section class="product-filter-section">
        <div class="container">
            <div class="section-title">
                <h2>BROWSE TOP SELLING PRODUCTS</h2>
            </div>
            <div class="row">
                <% data.forEach(function(item){ %>
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="./img/product/<%- item.hinh[0] %>" height="410" alt="">
                            <div class="pi-links">
                                <a href="/product-detail/<%- item._id %>" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                <a href="/product-detail/<%- item._id %>" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$ <%- item.dongia %></h6>
                            <p><%- item.tensanpham %> </p>
                        </div>
                    </div>
                </div>
               <%  }) %>
            </div>
            <div class="text-center pt-5">
                <button class="site-btn sb-line sb-dark">LOAD MORE</button>
            </div>
        </div>
    </section>